{
     "parser": "@typescript-eslint/parser",
     "plugins": ["@typescript-eslint/eslint-plugin"],
     "parserOptions": {
          "project": "tsconfig.json",
          "sourceType": "module"
     },

     "extends": [
          "next",
          "next/core-web-vitals",
          "plugin:@typescript-eslint/recommended",
          "prettier"
     ]
}
